body{
    background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
}

.container{
    max-width: 25em;
}

input[type=text], input[type=text]:focus{
    border: none;
    max-width: 25em;
}

.todos li{
    background: #fdbb2d;
}

.delete{
    cursor: pointer;
}

.filtered{
    display: none !important;
}